<?xml version="1.0"?>
<robot name="realsense2_camera" xmlns:xacro="http://ros.org/wiki/xacro">
  
  <link name="base_link" />
  <xacro:include filename="$(find d435)/tools/d435.urdf.xacro" />
  <!--<xacro:realsense_d435 connected_to="base_link" complett_links="true" ns="" xyz="0 0 0" rpy = "0 ${-radians(90)} 0"/>-->
  <xacro:realsense_d435 connected_to="base_link" complett_links="true" ns="" xyz="0.01 0 -0.0125" rpy = "0 0 0"/>
</robot>
